---
---

/* ==========================================================================
   HAITICSS.IO STYLESHEET
   ========================================================================== */

/*
 * This project is possible thanks to the inspiration and code references from:
 *
 * - BEM .................. getbem.com
 * - ITCSS ................ itcss.io
 * - InuitCSS ............. github.com/inuitcss | inuitcss.com
 * - Atomic Design ........ atomicdesign.bradfrost.com
 * - Rizzo ................ rizzo.lonelyplanet.com
 * - Bootstrap ............ getbootstrap.com
 * - Harry Roberts ........ @csswizardy
 * - Brad Frost ........... @brad_frost
 * - Mark Otto ............ @mdo
 * - Ian Feather .......... @ianfeather
 * - Christoph Reinartz ... @pristenprinz
 * - and many others ...
 *
 */

@import "settings/settings__config";

@import "haiticss/01-settings/settings__core";
@import "haiticss/01-settings/settings__config";

@import "settings/core-functions/map-diff";
@import "settings/settings__foundations";

@import "haiticss/01-settings/settings";
@import "haiticss/02-tools/tools";
@import "haiticss/03-generic/generic";
@import "haiticss/04-elements/elements";
@import "haiticss/05-objects/objects";

@import "material/material";

@import "components/footer";
@import "components/header";
@import "components/leading-header";

@import "templates/home";

@import "haiticss/99-utilities/utilities";

html {
  background-color: $s-color__brand-primary--ultra-light;
}

a {
  color: $s-color__brand-primary--dark;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.u-pv--large {
  padding-bottom: $s-space--large !important;
  padding-top: $s-space--large !important;
}