---
---

/* ==========================================================================
   HAITICSS.IO STYLESHEET
   ========================================================================== */

/*
 * This project is possible thanks to the inspiration and code references from:
 *
 * - BEM .................. getbem.com
 * - ITCSS ................ itcss.io
 * - InuitCSS ............. github.com/inuitcss | inuitcss.com
 * - Atomic Design ........ atomicdesign.bradfrost.com
 * - Rizzo ................ rizzo.lonelyplanet.com
 * - Bootstrap ............ getbootstrap.com
 * - Harry Roberts ........ @csswizardy
 * - Brad Frost ........... @brad_frost
 * - Mark Otto ............ @mdo
 * - Ian Feather .......... @ianfeather
 * - Christoph Reinartz ... @pristenprinz
 * - and many others ...
 *
 */


/* ==========================================================================
 * SETTINGS
 * Project configuration, functions and variables
 *
 * core ................... Core and setup settings
 * config ................. Global configuration: env, paths
 * core functions ......... SASS core functions (core- prefixed)
 * foundations ............ Design foundations vars
   ========================================================================== */

@import "{{site.haiticss-path}}src/settings/settings__core";
@import "settings/settings__config";
@import "{{site.haiticss-path}}src/settings/settings__config";
@import "{{site.haiticss-path}}src/settings/settings__core-functions";
@import "foundations/foundations";
@import "{{site.haiticss-path}}src/foundations/foundations";
@import "{{site.haiticss-path}}src/tools/tools";

/* ==========================================================================
 * CONTENT
   ========================================================================== */


@import "{{site.haiticss-path}}src/generic/generic";
@import "{{site.haiticss-path}}src/elements/elements";
//@import "{{site.haiticss-path}}material/material";
@import "material/material";

@import "{{site.haiticss-path}}src/objects/objects";
@import "objects/objects";

@import "color-schemes/color-schemes";

@import "components/components";

@import "templates/templates";

@import "{{site.haiticss-path}}src/utilities/utilities";

html {
  background-color: $f-color__brand-primary--ultra-light;
}

a {
  color: $f-color__brand-primary--dark;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

p + p {
  margin-top: $f-space--small * -1;
}

hr {
  border: none;
  height: 1px;
  background-color: $e-document__body--color;
}

.o-flag__img {
  > img {
    width: auto;
  }
}
.u-pv--large {
  padding-bottom: $f-space--large !important;
  padding-top: $f-space--large !important;
}

.u-mb--medium {
  margin-bottom: $f-space--medium !important;
}
.u-mb--large {
  margin-bottom: $f-space--large !important;
}