---
---

/* ==========================================================================
   HAITICSS.IO STYLESHEET
   ========================================================================== */

/*
 * This project is possible thanks to the inspiration and code references from:
 *
 * - BEM .................. getbem.com
 * - ITCSS ................ itcss.io
 * - InuitCSS ............. github.com/inuitcss | inuitcss.com
 * - Atomic Design ........ atomicdesign.bradfrost.com
 * - Rizzo ................ rizzo.lonelyplanet.com
 * - Bootstrap ............ getbootstrap.com
 * - Harry Roberts ........ @csswizardy
 * - Brad Frost ........... @brad_frost
 * - Mark Otto ............ @mdo
 * - Ian Feather .......... @ianfeather
 * - Christoph Reinartz ... @pristenprinz
 * - and many others ...
 *
 */


/* ==========================================================================
 * SETTINGS
 * Project configuration, functions and variables
 *
 * core ................... Core and setup settings
 * config ................. Global configuration: env, paths
 * core functions ......... SASS core functions (core- prefixed)
 * foundations ............ Design foundations vars
   ========================================================================== */

@import "{{site.haiticss-path}}01-settings/settings__01-core";
@import "01-settings/settings__02-config";
@import "{{site.haiticss-path}}01-settings/settings__02-config";
@import "{{site.haiticss-path}}01-settings/settings__03-core-functions";
@import "01-settings/settings__04-foundations";
@import "{{site.haiticss-path}}01-settings/settings__04-foundations";

/* ==========================================================================
 * CONTENT
   ========================================================================== */

@import "{{site.haiticss-path}}02-tools/tools";
@import "{{site.haiticss-path}}03-generic/generic";
@import "{{site.haiticss-path}}04-elements/elements";

@import "{{site.haiticss-path}}05-objects/objects";
@import "10-objects/docs";

@import "20-material/material";

@import "21-components/footer";
@import "21-components/header";
@import "21-components/leading-header";

@import "30-templates/home";

@import "{{site.haiticss-path}}99-utilities/utilities";

html {
  background-color: $s-color__brand-primary--ultra-light;
}

a {
  color: $s-color__brand-primary--dark;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

p + p {
  margin-top: $s-space--small * -1;
}

.o-flag__img {
  > img {
    width: auto;
  }
}
.u-pv--large {
  padding-bottom: $s-space--large !important;
  padding-top: $s-space--large !important;
}

.u-mb--medium {
  margin-bottom: $s-space--medium !important;
}
.u-mb--large {
  margin-bottom: $s-space--large !important;
}