
.c-footer {
  margin-top: $s-space--large;
  padding-top: $s-space;
  padding-bottom: $s-space;
  background-color: $s-color__brand-primary--dark;
  color: $s-color__brand-primary--ultra-light;
}

.c-footer__legend {
  text-align: center;
}