<nav class="o-box cs-light c-side-nav t-docs__navigation u-mb--medium">
    <div class="o-box__content">
        <h4 class="m-heading m-heading--small">Documentation</h4>
        <hr>

        {% for currentCollection in site.collections %}
            {% if currentCollection.label contains "docs-"%}
                <a class="c-side-nav__item" href="/">{{ currentCollection.label | remove_first: "docs-"}}</a>
                {% for menuItem in site[currentCollection.label] %}
                <a class="c-side-nav__item c-side-nav__item--level-2" href="{{menuItem.url}}">{{menuItem.name}}</a>
                {% endfor %}
            {% endif %}
        {% endfor %}
    </div>
</nav>
