
/* -------------------------------------------------------------------------
 * DOCS
 *
 * Configuration and mixins for documenting objects.
 *
 */

// Variables
// --------------------------------------------------

// Object toggling

$o-docs--enabled:                         true !default;

// Object Params

$o-docs__border--width:                   2px;
$o-docs__border--style:                   dashed;

$o-docs__font-family:                     $f-font-family__accent;
$o-docs__font-size:                       $e-document__body--font-size;
$o-docs__font-weight:                     700;
$o-docs__font-color:                      $f-color__brand-primary--dark;

$o-docs__main--bg-color:                  rgba($f-color__brand-primary, .1) !default;
$o-docs__main--border-color:              $f-color__brand-primary !default;
$o-docs__main--text-color:                $f-color__brand-primary !default;

//$o-docs__secondary--bg-color:             $f-color__brand-primary--ultra-light !default;
$o-docs__secondary--bg-color:             mix(#fff, $f-color__brand-primary--ultra-light, 70%) !default;
$o-docs__secondary--border-color:         $f-color__brand-primary !default;
$o-docs__secondary--text-color:           $f-color__brand-primary !default;

// Object as a mixin
// --------------------------------------------------

@mixin o-docs__main--outline() {
  outline-width: $o-docs__border--width;
  outline-style: $o-docs__border--style;
  outline-color: $o-docs__main--border-color;
}

@mixin o-docs__main--bg() {
  background-color: $o-docs__main--bg-color;
}

@mixin o-docs__main--txt() {
  font-family: $o-docs__font-family;
  font-size: $o-docs__font-size;
  content: attr(data-debug__text);
  color: $o-docs__font-color;
}

@mixin o-docs__secondary--outline() {
  outline-width: $o-docs__border--width;
  outline-style: $o-docs__border--style;
  outline-color: $o-docs__secondary--border-color;
}

@mixin o-docs__secondary--bg() {
  background-color: $o-docs__secondary--bg-color;
}

@mixin o-docs__secondary--txt() {
  font-family: $o-docs__font-family;
  font-size: $o-docs__font-size;
  content: attr(data-debug__text);
  color: $o-docs__font-color;
}
