

.o-layout--debug {
  position: relative;
  margin-top: $f-space;
  @include t-clearfix();

  &::before {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    @include o-docs__main--outline();
    @include o-docs__main--bg();
    content: "";
  }

  &::after {
    position: absolute;
    top: -1.5rem;
    right: 0;
    @include o-docs__main--txt();
  }

  .o-layout__item {
    position: relative;
    @include o-docs__secondary--outline();
    @include o-docs__secondary--bg();

    &::after {
      position: absolute;
      top: 0;
      right: .5rem;
      @include o-docs__main--txt();
    }

    &:empty {
      min-height: 6rem;
    }
  }
}
