
.c-footer {
  margin-top: $f-space--large;
  padding-top: $f-space;
  padding-bottom: $f-space;
  background-color: $f-color__brand-primary--dark;
  color: $f-color__brand-primary--ultra-light;
}

.c-footer__legend {
  text-align: center;
}