
$c-side-nav__item--font-size:               s-core-px-to-rem(18px);
$c-side-nav__item--font-size-interval:      .85;
$c-side-nav__item--padding-interval:        $f-space--small;


.c-side-nav {

}

.c-side-nav__item {
  font-size: $c-side-nav__item--font-size;
  display: block;
}

.c-side-nav__item--level-2 {
  padding-left: $c-side-nav__item--padding-interval * 1;
  font-size: $c-side-nav__item--font-size;
}