
.c-leading-header {
  margin-bottom: $f-space--large;
  padding-top: $f-space--small;
  padding-bottom: $f-space--small;
  background-color: $f-color__brand-primary--dark;
  color: $f-color__brand-primary--ultra-light;

  @include t-mq($from: "sm") {
    padding-top: $f-space;
  }
}

.c-leading-header__brand {
  font-size: 3.5rem;
  @include t-mq($from: "xs") {
    font-size: 5rem;
  }
}

.c-leading-header__logo {
  font-size: 5rem;
  letter-spacing: -.8rem;
  @include t-mq($from: "xs") {
    font-size: 7rem;
    letter-spacing: -1rem;
  }
}

.c-leading-header__details {
  text-align: right;
  font-size: $f-font-size--s;
  margin-bottom: $g-reset__spacing--vertical;
}

.c-leading-header__icon {
  fill: $f-color__brand-primary--ultra-light;
}